$title-font-size: 32px;
$primary: coral;
$secondary: red;
$happy: teal;

$border-size: 2px;
$border-style: groove;
$border-color: purple;

$paragraph-font-size: 24px;

$border: $border-size $border-style $border-color; 