@import 'variables';

h1 {
  font-size: $title-font-size;
  color: $primary;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h2 {
  font-size: 24px;
  color: $secondary;
}

p {
  font-size: 12px;
  color: $secondary;
  border: $border;
}

div {
  height: 200px;
  width: 200px;
  background-color: $primary;
  &:hover {
    background-color: bisque;
  }

  p {
    font-size: $paragraph-font-size;
    color: $happy;
  }

}

.my-header {
  @extend h1;
  background-color: azure;
  text-align: center;
}

@mixin header-styles($size, $color) {
  font-size: $size * 2;
  color: $color;
}

.my-second-header {
  @include header-styles(12px, $secondary);
  background-color: $primary;
}