* {
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 160px;
  background-color: coral;
}

section {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid black;
  font-size: 14px;
}

section.upper-container div {
  /*
    em works in relationship to the font-size
    of the parent element
  */
  font-size: 2em;

  /*
    ABSOLUTE UNITS
    px, cm, mm, in
  */
  height: 150px;
  /*
    RELATIVE UNITS
    percentage (%) -> related to the parent element

    viewport width (vw) -> related to the viewport
    viewport height (vh) -> related to the viewport
    
    em -> font-size unit related to the parent element
    rem -> font-size unit related to the ROOT (html) element
  */
  min-width: 200px;

  margin: 10px;
  line-height: 90px;
  background-color: lightpink;
  text-align: center;
}


footer {
  background-color: burlywood;
  height: 150px;
}

.container div {
  font-size: 2em;
  height: 100px;
  min-width: 200px;
  margin: 10px;
  line-height: 90px;
  background-color: lightpink;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 33% [col-start]);
  grid-template-rows: repeat(3, 100px [row-start]);
}

#one {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#two {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}